@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(rgb(39, 39, 46), rgb(9, 9, 10));
  background-size: cover;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .custom-border {
    @apply border bg-zinc-800/30 p-4 rounded-xl w-auto hover:border-gray-300;
  }

  .Image_Element {
    @apply max-w-[80%] mb-4 rounded-xl;
  }
  .Bubble {
    @apply rounded-xl border-solid box-border p-4 pl-5 md:pl-10 break-words transition-all max-w-[75ch] text-lg;
  }
}

.Prompt__Bubble {
  border-color: rgb(108, 106, 96);
  background-image: linear-gradient(rgb(17, 18, 23) 50%, rgb(13, 13, 11));
  box-shadow: rgba(57, 51, 51, 0.024) 2px 2px 16px 2px;
  color: rgb(229, 229, 226);
}

.Response__Bubble {
  background-image: linear-gradient(rgb(55, 53, 67) 10%, rgb(47, 47, 59));
  color: rgb(229, 229, 226);
}

.Welcome__Text {
  z-index: 10;
  position: absolute;
  width: 100%;
  justify-content: center;
  display: flex;
  top: 20%;
  left: -0.2rem;
}

.HomePage__LoginButton {
  transform: translateY(-5rem);
}

.chakra-spinner {
  width: 30px;
  height: 30px;
}

.Submit__Button {
  background-image: linear-gradient(rgb(17, 18, 23) 50%, rgb(13, 13, 11));
}